<ion-header>
    <app-layout-header title="{{ 'Projects' | transloco }}"></app-layout-header>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Charts</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item *ngFor="let chart of jsonChartList" (click)="openPage(chart)" [ngClass]="{'ion-activated':chart.id%2===0}">
                <ion-icon [name]="chart.icon" slot="start"></ion-icon>
                <ion-label>{{chart.name}}</ion-label>
            </ion-item>
<!-- 
            <ion-item (click)="openPage(chartList[0])" class="ion-activated">
                <ion-icon name="analytics-outline" slot="start"></ion-icon>
                <ion-label>Chart 1</ion-label>
            </ion-item>

            <ion-item (click)="openPage(chartList[0])">
                <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                <ion-label>Chart 2</ion-label>
            </ion-item>

            <ion-item class="ion-activated">
                <ion-icon name="pie-chart-outline" slot="start"></ion-icon>
                <ion-label>Chart 3</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
                <ion-label>Chart 4</ion-label>
            </ion-item> -->
        </ion-card-content>
    </ion-card>
</ion-content>