<ion-header>
  <app-layout-header title="{{ 'Home' | transloco }}"></app-layout-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title class="ion-text-wrap" >{{ 'Welcome' | transloco }} {{ user.username }}</ion-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-item button (click)="navigateProjectsPage()">{{ 'Projects' | transloco}}<ion-icon name="newspaper-outline" slot="start"></ion-icon><ion-badge color="tertiary" slot="end">{{qtyProjects}}</ion-badge></ion-item>
      <!-- <ion-item >{{ 'Tasks' | transloco}}<ion-badge color="tertiary" slot="end">{{qtyTasks}}</ion-badge><ion-icon name="hammer-outline" slot="start"></ion-icon></ion-item> -->
      <ion-item button (click)="navigateEmployeesPage()">{{ 'Employees' | transloco}}<ion-icon name="people-outline" slot="start"></ion-icon><ion-badge color="tertiary" slot="end">{{qtyEmployees}}</ion-badge></ion-item>
      <ion-item button (click)="navigateChartsPage()">{{ 'Charts' | transloco}}<ion-icon name="pie-chart-outline" slot="start"></ion-icon></ion-item>
      <ion-item button (click)="navigateKpisPage()">KPIs<ion-icon name="flame" slot="start"></ion-icon></ion-item>
      <ion-button color="secondary" expand="full"  (click)="updateForm()">
        {{ 'Update' | transloco}}
        <ion-icon slot="start" name="cloud-done-outline"></ion-icon>
      </ion-button>
      <ion-img class="DivLogo" src="assets/imgs/bi-home.png"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
